body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#glitterCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.suggestions {
    text-align: center;
    margin-top: 50px;
    z-index: 1;
    max-width: 800px;
    width: 100%;
}

.header h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
    font-weight: 700;
    text-shadow: 0 0 15px #fff, 0 0 25px #fff, 0 0 35px #fff;
    margin-bottom: 30px;
}

.suggestions-list {
    margin-top: 50px;
}

.suggestion-item {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 500;
}

.suggestion-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Botões padrão */
.gold-button {
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #ffd700;
    border: none;
    padding: 12px 30px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

/* Efeito de hover */
.gold-button:hover {
    background-color: #e6c200;
    transform: scale(1.1);
}

/* Efeito de clique */
.gold-button:active {
    background-color: #c7a100;
}

/* Responsividade */
@media (max-width: 1024px) {
    .gold-button {
        font-size: 16px;
        padding: 10px 25px;
    }
}

@media (max-width: 768px) {
    .gold-button {
        font-size: 14px;
        padding: 8px 20px;
    }
}

@media (max-width: 480px) {
    .gold-button {
        font-size: 12px;
        padding: 6px 15px;
    }
}


#glitterCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}